{% extends "admin_layout.html" %}

{% block title %}
    Delete user
{% endblock %}

{% block main %}
    <form action="/delete_book" method="post">
        <div class="mb-3">
            <select name="person_id">
                <option disabled selected value = "card_number">cardNumber</option>
                    {%for loanee in loanees %}
                <option value = "{{ loanee.loanee }}">{{ book.loanee }}</option>
                    {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">delete</button>
    </form>
{% endblock %}
