{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
         <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="card_number" placeholder="cardNumber" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="firstname" placeholder="firstname" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="lastname" placeholder="lastname" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="email" placeholder="email" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="address" placeholder="address" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">register</button>
    </form>
{% endblock %}
